//- スマホメニュー
mixin c_slidebar
  //-> スマホメニューのボタン
  a(href="#").c-slidebar-button.js-slidebar-button
    .c-slidebar-button__inner
      span.c-slidebar-button__line
        span
        span
        span
  .c-slidebar-menu.js-slidebar-menu.is-top-to-bottom
    ul
      li: +a("#problem").js-anchor よくある悩み
      li: +a("#about").js-anchor ロケなび！とは
      li: +a("#example").js-anchor 実際の具体例
      li: +a("#news").js-anchor 最新ニュース
    .c-slidebar-menu__button
      +a("#contact").c-button.is-xlg.js-anchor <i class="fa fa-phone" aria-hidden="true"></i>問合せする
