.l-footer {
  background-color: $color-white;
  color: $font-base-color;
  &__content {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
    position: relative;
    @include breakpoint(small only) {
      padding-top: rem-calc(32);
      padding-bottom: rem-calc(40);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    @include breakpoint(small only) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__title {
    padding-right: rem-calc(35);
    margin-right: rem-calc(45);
    border-right: 1px solid #2B2B2B;
    @include breakpoint(small only) {
      padding-right: 0;
      margin-right: 0;
      border-right: none;
      margin-bottom: rem-calc(20);
    }
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: 220px;
  }

  &__company {
    display: flex;
    align-items: center;
    margin-top: rem-calc(20);
    @include breakpoint(small only) {
      justify-content: center;
    }

    span {
      display: inline-block;
      font-size: rem-calc(12);
      letter-spacing: 0.05em;
      line-height: 18/12*1;
      margin-right: rem-calc(8);
    }

    a {
      color: $font-base-color;
      text-decoration: none;
      font-weight: 700;
      font-size: rem-calc(12);
      letter-spacing: 0.05em;
      line-height: 18/12*1;
    }
  }

  &__sns {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        width: 44px;
        margin-right: rem-calc(25);
        @include breakpoint(small only) {
          width: 32px;
          margin-right: rem-calc(16);
        }
        &:last-child {
          margin-right: 0;
        }

        a {
          @include transition;
          &:hover {
            opacity: 1;
            color: $color-primary;
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem-calc(48);
    background-color: $color-primary;

    small {
      color: $color-white;
      font-size: rem-calc(12);
      letter-spacing: 0.09em;
      line-height: 18/12*1;
      @include breakpoint(small only) {
        font-size: rem-calc(10);
      }
    }
  }
}
