.l-header {
  background-color: $color-white;
  width: 100%;
  z-index: 9990;
  padding: 0 rem-calc(40) 0 rem-calc(32);
  box-shadow: 0 5px 8px rgba(0,0,0,0.16);
  position: fixed;
  top: 0;
  left: 0;
  @media (max-width: 1100px) {
    padding: 0 rem-calc(24) 0 rem-calc(24);
  }
  @include breakpoint(medium down) {
    width: 100%;
    padding: 0 rem-calc(90) 0 rem-calc(20);
  }

  &__heading {
    margin: 0;
    width: 220px;
    flex-shrink: 0;
    position: relative;
    top: -5px;
    @include breakpoint(medium down) {
      width: 122px;
      top: 0;
    }

    a,
    img {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    height: rem-calc(94);
    @include breakpoint(medium down) {
      height: rem-calc(70);
    }
  }

  &__nav {
    margin-left: auto;
    @include breakpoint(medium down) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      width: 100%;

      li {
        margin-right: 60px;
        @media (max-width: 1200px) {
          margin-right: rem-calc(32);
        }
        @media (max-width: 1100px) {
          margin-right: rem-calc(24);
        }
        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          .l-header__submenu {
            visibility: visible;
            opacity: 1;
          }
        }

        a {
          text-decoration: none;
          color: $font-base-color;
          font-weight: 700;
          font-size: rem-calc(15);
          letter-spacing: 0.05em;
          position: relative;
          padding-bottom: rem-calc(37);
          transition: all .3s ease;
          //装飾
          &:after {
            content: "";
            display: block;
            width: 0;
            height: rem-calc(2);
            background-color: $color-primary;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all .3s ease;
          }

          //*hover
          &:hover {
            opacity: 1;
            color: $color-primary;

            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__button {
    margin-left: rem-calc(50);
    @media (max-width: 1100px) {
      margin-left: rem-calc(24);
      &.c-button {
        max-width: rem-calc(180);
      }
    }
    @include breakpoint(medium down) {
      display: none;
    }
  }
}

// スマホメニューopen時
.is-slidebar-active {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
  }
}




