.c-block-btn {
  text-align: center;
  @include breakpoint(small only) {
    padding: 0 rem-calc(20);
  }
  &__text {
    display: inline-flex;
    align-items: center;
    font-size: rem-calc(19);
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 20/19*1;
    margin-bottom: rem-calc(12);
    position: relative;
    @include breakpoint(small only) {
      font-size: rem-calc(14);
      margin-bottom: rem-calc(10);
    }

    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 22px;
      background-image: url(../images/img-text-deco-left.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-right: rem-calc(10);
      @include breakpoint(small only) {
        width: rem-calc(14);
        height: rem-calc(16);
        margin-right: rem-calc(5);
      }
    }
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 22px;
      background-image: url(../images/img-text-deco-right.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-left: rem-calc(10);
      @include breakpoint(small only) {
        width: rem-calc(14);
        height: rem-calc(16);
        margin-left: rem-calc(5);
      }
    }
  }

  &__button {
  }
}
