.c-block-panel {
  margin-bottom: rem-calc(80);
  &:last-child {
    margin-bottom: 0;
  }

  &__box {
    background-color: $color-white;
    border-radius: 60px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.16);
    max-width: rem-calc(1277);
    margin-left: auto;
    margin-right: auto;
    padding: rem-calc(80) rem-calc(102) rem-calc(100);
    @media (max-width: 1341px) {
      margin-right: 32px;
      margin-left: 32px;
    }
    @include breakpoint(small only) {
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: rem-calc(60);
    text-align: center;

    img {
      width: 170px;
      margin-bottom: rem-calc(22);
    }

    h3 {
      display: inline-block;
      font-size: rem-calc(38);
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: rem-calc(5);
      position: relative;
      padding-left: rem-calc(20);
      padding-right: rem-calc(14);

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 46px;
        border-radius: 10px;
        background-color: $font-base-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateY(4px) skew(20deg);
      }

      &:after {
        left: auto;
        right: 0;
        transform: translateY(-50%) translateY(4px) skew(-20deg);
      }

      span {
        color: $color-primary;
      }
    }

    p {
      display: block;
      font-size: rem-calc(24);
      font-weight: 700;
      letter-spacing: 0.05em;
      line-height: 36/24*1;
    }
  }
}
