.c-button {
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: rem-calc(218);
  height: rem-calc(50);
  font-size: rem-calc(14);
  letter-spacing: 0.05em;
  line-height: 17/14*1;
  text-align: center;
  background-color: $color-accent;
  color: $color-white;
  text-decoration: none;
  border: none;
  border-radius: 1000px;
  padding: 0 rem-calc(16);
  position: relative;
  transition: all .3s;
  font-weight: 700;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  transform: perspective(1px) translateZ(0);

  i {
    font-size: rem-calc(17);
    letter-spacing: 0;
    line-height: 1;
    padding-right: 0;
    margin-right: rem-calc(6);
  }

  // *hover
  &:hover {
    background-color: $color-accent-light;
    box-shadow: 0 6px 6px rgba(0,0,0,0.16);
  }

  // カラー設定
  // -> セカンダリカラー
  &.is-primary {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
    box-shadow: none;
    max-width: rem-calc(233);
    height: rem-calc(56);
    font-size: rem-calc(16);
    letter-spacing: 0.05em;
    line-height: 24/16*1;

    &:hover {
      opacity: 1;
      background-color: $color-primary;
      color: $color-white;
    }
  }

  // -> セカンダリカラー
  &.is-secondary {
    background-color: $color-secondary-dark;
    color: $font-base-color;

    &:hover {
      background-color: $color-secondary-light;
    }
  }

  &.is-exlink {
    &:after {
      content: "\f2d2";
      font-family: "FontAwesome";
      font-size: rem-calc(17);
      letter-spacing: 0;
      line-height: 1;
      margin-left: rem-calc(8);
    }
  }

}


.c-button {
  // サイズ設定
  // -> 大
  &.is-xlg {
    max-width: rem-calc(509);
    height: rem-calc(80);
    padding: 0 rem-calc(32);
    font-size: rem-calc(22);
    @include breakpoint(small down) {
      max-width: 100%;
      height: rem-calc(56);
      font-size: rem-calc(14);
    }

    i {
      font-size: rem-calc(27);
      position: relative;
      top: 2px;
      @include breakpoint(small only) {
        font-size: rem-calc(18);
        margin-right: rem-calc(8);
      }
    }
  }

  // -> 中
  &.is-lg {
    max-width: rem-calc(356);
    padding: rem-calc(16) rem-calc(24);
    @include breakpoint(small only) {
      max-width: 100%;
    }
  }

  // -> 小
  &.is-sm {
    max-width: rem-calc(155);
    padding: rem-calc(10) rem-calc(18);
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }

    &:after {
      right: rem-calc(10);
    }
  }

  // -> 極小
  &.is-xs {
    width: inherit;
    max-width: 100%;
    background-color: transparent;
    padding: 0 rem-calc(16) 0 0;
    border: none !important;
    color: $font-base-color;
    font-size: rem-calc(14);
    letter-spacing: 0.1em;
    @include breakpoint(small only) {
      font-size: rem-calc(14)*0.9;
    }

    &:after {
      color: $color-primary;
      right: 0;
    }

    // *hover
    &:hover {
      opacity: 0.6;
    }
  }
}

