.c-main-visual {
  width: 100%;
  position: relative;
  padding: rem-calc(72) 0 rem-calc(68) rem-calc(68);
  background-color: $color-primary;
  overflow: hidden;
  margin-top: rem-calc(94);

  &__wrap {
    width: 100%;
    background-color: $color-white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: rem-calc(36);
    padding-bottom: rem-calc(36);
    padding-left: rem-calc(112);
    @media (max-width: 1140px) {
      padding-left: rem-calc(36);
    }
  }

  &__inner {
    max-width: rem-calc(1400);
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    display: inline-block;
    text-align: center;
  }

  &__title {
    font-size: rem-calc(54);
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.4;
  }

  &__text {
    font-size: rem-calc(28);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5;

    span {
      display: inline-block;
      margin-bottom: rem-calc(2);
    }

    img {
      width: 274px;
      vertical-align: bottom;
      margin-right: rem-calc(14);
    }
  }

  &__items {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: rem-calc(18);
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1000px;
    background-color: $color-secondary;
    width: rem-calc(160);
    height: rem-calc(160);
    font-size: rem-calc(18);
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 26/18*1;
    margin-right: rem-calc(16);
    &:last-child {
      margin-right: 0;
    }

    span {
      display: inline;
      color: $color-primary;
    }
  }

  &__button {
    margin-top: rem-calc(21);

    .c-button.is-xlg {
      max-width: rem-calc(432);
      height: rem-calc(70);
    }
  }


  &__images {
    display: flex;
    position: absolute;
    //right: 50px;
    right: 50%;
    top: 0;
    transform: rotate(5deg) translateX(650px);
    @media (max-width: 1400px) {
      width: 686/1400*100%;
    }
    @media (max-width: 1140px) {
      transform: rotate(5deg) translateX(550px);
    }
  }

  &__slider {
    margin-right: rem-calc(10);
    position: relative;
    @media (max-width: 1400px) {
      width: calc(50% - 5px);
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    width: rem-calc(338);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: rem-calc(10);
    border-radius: 10px;
    @media (max-width: 1400px) {
      width: 100%;
    }


    &:before {
      content: "";
      display: block;
      padding-top: 230/338*100%;
    }
  }
}
