.c-pagetop {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(80);
    height: rem-calc(80);
    background-color: $color-primary;
    color: $color-white;
    font-size: rem-calc(34);
    letter-spacing: 0;
    line-height: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.16);
    text-decoration: none;
    border-radius: 1000px;
  }
}
