//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "ロケなび！ロケ地・ロケ弁・撮影情報 無料検索サイト" // タイトルあ
  - current.description = "ロケハンをカンタン・スピーディに！映像制作の方必見！これを使えば、WEBロケハンがより簡単スピーディ、リーズナブルにできます。presented by　ロケーションジャパン編集部" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_main-visual()
  main.l-main
    section.l-section.is-xlg
      +c.block-problem
        +e.container
          +e.heading
            h2.c-heading.is-lg
              small PROBLEM
              p こんな<span>お悩み</span>、ありませんか？
          +e.cards
            +e.item
              +e.box
                +e.text.
                  <span>低予算</span>でも、ロケはしたい！<br>
                  最高の画を撮って<span>ヒットさせたい！</span>
              +e.image: +img("img-problem-01.png","プロデューサー・監督")
            +e.item
              +e.box
                +e.text.
                  <span>コロナで協力的なロケ地</span>が分からない！<br>
                  ロケ先のトラブルも怖い！
              +e.image: +img("img-problem-02.png","制作部")
            +e.item
              +e.box
                +e.text.
                  ネットのネタは使えない！<br>
                  でも<span>リサーチする予算もない！</span>
              +e.image: +img("img-problem-03.png","AD")

    section.l-section.is-lg.is-color-secondary
      .l-container



