//- filename: footer.jade
//- description: フッター

footer.l-footer
  .l-footer__content
    +c.pagetop
      +a("#")(data-anchor-target="html").js-anchor <i class="fa fa-angle-up" aria-hidden="true"></i>
    .l-container
      .l-footer__inner
        .l-footer__title
          +a("/").l-footer__logo: +img("logo.png","ロケなび！")
          .l-footer__company
            span 運営会社
            a(href="https://www.chiikikassei.co.jp/", target="_blank") 地域活性プランニング
        .l-footer__sns
          ul
            li: a(href="https://www.instagram.com/locationnavi/", target="_blank"): +img("icon-instagram.svg","Instagram")
            li: a(href="https://www.facebook.com/locanavi/", target="_blank"): +img("icon-facebook.svg","Facebook")
            li: a(href="https://lin.ee/lBVo7CL", target="_blank"): +img("icon-line.svg","LINE")
            li: a(href="https://twitter.com/locanavi", target="_blank"): +img("icon-twitter.svg","Twitter")
  .l-footer__copyright
    small Copyright © 2008-<span class="js-current-year"></span> Location Japan All right reserved.

