header.l-header
  .l-header__content
    h1.l-header__heading: +a("/"): +img("logo.png","ロケなび！ロケ地・ロケ弁・撮影情報 無料検索サイト")
    nav.l-header__nav
      ul
        li: +a("#problem").js-anchor よくある悩み
        li: +a("#about").js-anchor ロケなび！とは
        li: +a("#example").js-anchor 実際の具体例
        li: +a("#news").js-anchor 最新ニュース
    +a("#contact").l-header__button.c-button.js-anchor <i class="fa fa-phone" aria-hidden="true"></i>問合せする


